name: Release cleanup
on:
  workflow_dispatch:
  schedule:
    - cron: "2 2 * * */5"

jobs:
  cleanup:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ github.token }}
    steps:
      - name: Remove old versions
        run: |
          toDelete=$(gh  release list -R ${{ github.repository }} --json tagName --jq '.[].tagName' | grep -v '^4\.' | tail -n+11)

          for release in $toDelete; do
              if [[ "${{ vars.frozenReleases }}" = *"$release"* ]];then
                echo "Release $release is locked for retention"
              else
                echo "Deleting release $release"
                gh release delete "$release" --repo "${{ github.repository }}" --cleanup-tag --yes
              fi
          done
